{% extends "base.html" %} {% load crispy_forms_tags %} {% block content %}
<main>
  <div class="background-blobs">
    <svg class="bg-svg" id="blobShape5" viewBox="0 0 500 500">
      <clipPath></clipPath>
      <path
        fill="url(#g5)"
        d="M 280.1,34.42 C 465.8,29.89 514.6,354 417.3,392.3 318.9,423.2 332.3,114.7 233.3,143.6 134,172.6 294.3,390.5 212,453.2 174.8,481.6 106.3,459.6 74.54,425.3 21.22,367.7 30.13,244.7 45.63,191.6 59.95,142.4 95.32,105 135.2,77.89 176.9,49.52 229.9,29.96 280.1,34.42 Z"
      />
      <linearGradient id="g5" x1="0%" y1="0%" x2="100%" y2="100%">
        <stop offset="0" stop-color="#700979" />
        <stop offset="1" stop-color="#3d91a2" />
      </linearGradient>
    </svg>
    <section>
      <div class="container mentee-account">
        <div class="col-lg-9 col-md-12 col-sm-12 mentee-account__content">
          <h2 class="font-title">
            Мои публикации
          </h2>
          <div class="mentee-account__content__feed">
            <div class="mentee-account__content__feed__publication">
              <div
                class="mentee-account__content__feed__publication__img"
              ></div>
              <div class="mentee-account__content__feed__publication__content">
                <h4
                  class="font-title-sm mentee-account__content__feed__publication__content__title"
                >
                  Лучшие бизнес-книги февраля 2019
                </h4>
                <p
                  class="font-text mentee-account__content__feed__publication__content__text"
                >
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Soluta delectus pariatur iure repellat, aspernatur odio
                  reprehenderit itaque? Velit dolorum quia aliquid debitis, nam
                  aliquam accusantium id ratione tempore ipsa culpa?
                </p>
                <span
                  class="font-text-sm mentee-account__content__feed__publication__content__date"
                  >14 марта 2019</span
                >
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 account-sidebar">
          <ul class="account-sidebar__nav">
            <li
              class="font-link account-sidebar__nav__nav-item active"
              id="sidebar-feed"
            >
              <div id="sidebar-icon-feed"></div>
              <a href="#">Мои публикации</a>
            </li>
            <li
              class="font-link account-sidebar__nav__nav-item"
              id="sidebar-settings"
            >
              <div id="sidebar-icon-settings"></div>
              <a href="#">Настройки аккаунта</a>
            </li>
            <li
              class="font-link account-sidebar__nav__nav-item"
              id="sidebar-follows"
            >
              <div id="sidebar-icon-follows"></div>
              <a href="#">Мои подписки</a>
            </li>
          </ul>
        </div>
      </div>
    </section>
  </div>
</main>

{% endblock content %}
