{% extends "base.html" %}
{% block content %}
<div class="container">
  <form method="GET" class="mt-5 mb-4" action="{% url 'blog:list' %}">
    <input type="text" name="q" placeholder="Search" value="{{ request.GET.q }}">
    <input type="submit" value="Search">
  </form>
  {% for object in object_list %}
  <div class="blog-card">
    <div class="blog-card__blog-card-header">
      <img class="blog-card__blog-card-header__avatar" src="{{ object.user.profile.image.url }}">
      <div class="blog_card__blog-card-header__username">
        <h4 class="font-subtitle"><a href="#">{{ object.user.first_name }} {{ object.user.last_name }}</a></h4>
        <p class="font-text-sm">{{ object.timestamp|timesince }}</p>
      </div>
    </div>
    <div class="blog-card__blog-card-body">
      <h4 class="font-title-sm">
        <a href="{% url 'blog:detail' object.id %}"
          >{{ object.title }}</a
        >
      </h4>
      <p class="font-text">{{ object.content }}</p>
      <img class="blog-card__blog-card-body__img" src="{{ object.blogimage_set.first.image.url }}">
    </div>
  </div>
  {% empty %}
  {% if request.GET.q %}
  <p>No posts found</p>
  {% else %}
  <p>No posts.</p>
  {% endif %}
  {% endfor %}
</div>


{% endblock content %}
