.aboutpage {
  height: auto;
  .aboutpage__first-block {
    display: flex;
    flex-direction: column;
    h4 {
      span {
        color: $primary;
        font-weight: bold;
      }
    }
    .aboutpage__first-block__content {
      padding: 1.5em 0;
      display: flex;
      flex-direction: row;
      .aboutpage__first-block__left-div {
        padding-left: 0;
        h4 {
          margin-bottom: 20px;
        }
        .aboutpage__first-block__img {
          border-radius: 2px;
          height: 200px;
          background-image: url("../../src/static/images/about1.jpg");
          background-size: 100%;
        }
      }

      .aboutpage__first-block__right-div {
        padding-left: 2em;
        h4 {
          font-weight: bold;
          padding-bottom: 1em;
        }
      }
    }
  }
  .aboutpage__quote-block {
    text-align: center;
    clip-path: polygon(-1px 100%, 100% 80%, 100% 5%, 0px 0px);
    height: auto;
    background-image: url("../../src/static/images/topography.png");
    h4 {
      font-size: 22px;
    }
    p {
      padding-top: 1em;
      font-style: italic;
      font-size: 22px;
    }
  }
  .aboutpage__mission-block {
    display: flex;
    flex-direction: column;
    text-align: start;
    h4 {
      padding-left: 0.5em;

      font-weight: normal;
      span {
        color: $primary;
        display: block;
        font-weight: bold;
      }
    }
    .aboutpage__mission-block__cards-div {
      padding-top: 2em;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      .aboutpage__mission-block__card {
        margin-top: 1.5em;
        box-shadow: 0 0 15px -8px $text-grey;
        height: auto;
        .aboutpage__mission-block__card__img-bg {
          text-align: center;
          border-radius: 2px;
          height: auto;
          background-color: $primary;
          .aboutpage__mission-block__card__img-bg-text {
            padding: 1.5em 1em;
            h4 {
              padding-top: 0.5em;
              opacity: 0.95;
              font-weight: normal;
              color: $light;
            }
          }
        }
        .aboutpage__mission-block__card__text {
          padding: 1.5em 1em;
        }
      }
    }
  }
}

@media (max-width: 985.98px) {
  .aboutpage__first-block__left-div{
    display: none;
  }
}
