.blog-card {
  margin-top: 2em;
  background: none;
  border-bottom: 1px solid lighten($text-grey, 50%);
  padding: 2em;
  .blog-card__blog-card-header {
    display: flex;
    align-items: center;
    margin-bottom: 1.5em;

    .blog-card__blog-card-header__avatar {
      border-radius: 50%;
      height: 3em;
      width: 3em;
      background-image: url("../../src/static/icons/icons8-user-male.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 70%;
      margin-right: 1em;
    }
  }
  .blog-card__blog-card-body {
    h4 {
      margin-bottom: 0.5em;
    }
    .blog-card__blog-card-body__img {
      width: 100%;
      height: 400px;
      margin-top: 1.5em;
      background-image: url("../../src/static/images/blog-img.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 110%;
    }
  }
}

@media (max-width: 767.98px) {
  .blog-card {
    .blog-card__blog-card-body {
      .blog-card__blog-card-body__img {
        height: 200px;
      }
    }
  }
}