.faq {
    margin-top: 3em;
    .faq__question-block{
        margin-top: 2em;
        .faq__question-block__question{
        }
        .faq__question-block__answer{
            margin-top: 1em;
        }
    }
}