.header {
  background: white;
  .header-upper {
    position: sticky;
    padding: 1.5em 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .header-upper-wrapper {
      display: flex;
      align-items: center;
      .header__header-upper__logo {
        margin-right: 2em;
      }
      .header__header-upper__nav-burger {
        display: none;
      }
      #nav-check {
        display: none;
      }

      .header__header-upper__nav {
        display: flex;
        list-style-type: none;
        align-items: center;
        .header__header-upper__nav__nav-item {
          font-weight: bold;
          margin-right: 1.5em;
          &:hover {
            color: $primary;
          }
        }
      }
      .header__header-upper__navbar__lang {
        list-style-type: none;
        margin-right: 1.5em;
      }
      .header__header-upper__navbar__btn {
        margin-right: 1.5em;
      }
    }
  }
  .header-upper__alt-nav {
    display: none;
    width: 100%;
    height: 300px;
    background: white;
    .header__header-upper__nav {
      transition: height 0.5s ease-in; 
      flex-direction: column;
      list-style-type: none;
      .header__header-upper__nav__nav-item {
        margin: 1.5em 0;
      }
    }
  }
}

@media (max-width: 991.98px) {
  .header {
    .header-upper {
      .header-upper-wrapper {
        .header__header-upper__navbar__btn {
          display: none;
        }
        .header__header-upper__nav-burger {
          display: block;
          span {
            display: block;
            width: 20px;
            height: 7px;
            border-top: 2px solid $primary;
          }
        }
        .header__header-upper__nav {
          display: none;
        }
      }
    }
    .header-upper__alt-nav {
      display: none;
      &.visible {
        display: block;
        position: absolute;
      }
    }
  }
}
