.mainpage {
  height: auto;
  .mainpage__first-block__background {
    height: auto;
    background-image: url("../../src/static/images/about1.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100%;
    background-attachment: fixed;
  }
  .mainpage__first-block {
    height: auto;
    padding-top: 1em;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    .mainpage__first-block__title-div {
      border-radius: 1px;
      height: auto;
      padding: 2.5em 2em;
      background: $text-grey;
      opacity: 0.5;
      box-sizing: border-box;
      .mainpage__first-block__title {
        opacity: 1;
        font-family: "Gilroy-Bold";
        font-size: 40px;
        font-weight: normal;
        color: $light;
        text-align: center;
      }
      .mainpage__first-block__subtitle {
        opacity: 1;
        padding-top: 1.5em;
        color: $light;
        text-align: center;
      }
    }
    .mainpage__first-block__buttons-div {
      display: flex;
      justify-content: space-around;
      padding: 1.5em 3em;
    }
  }
  .mainpage__second-block {
    height: auto;
    background-color: $light;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    .mainpage__second-block__title {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: row;
      position: absolute;
      left: 20%;
      top: -20%;
      margin-top: -20px;
      padding-top: 1.5em;
      p {
        display: inline-block;
        vertical-align: top;
        margin: 0;
        padding-right: 0.7em;
      }

      .word {
        position: absolute;
        width: 350px;
        opacity: 0;
        top: 45px;
      }

      .letter {
        display: inline-block;
        position: relative;
        float: left;
        transform: translateZ(10px);
        transform-origin: 50% 50% 10px;
      }

      .letter.out {
        transform: rotateX(90deg);
        transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
      }

      .letter.behind {
        transform: rotateX(-90deg);
      }

      .letter.in {
        transform: rotateX(0deg);
        transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      }

      .wisteria {
        color: $primary;
      }

      .belize {
        color: $primary;
      }

      .pomegranate {
        color: $primary;
      }

      .green {
        color: $primary;
      }

      .midnight {
        color: $primary;
      }

      .mainpage__second-block__icon {
        height: 50px;
        width: 50px;
        background: url("../../static/icons/win.png");
      }
    }
    .mainpage__second-block__subtitle {
      padding-top: 2em;
    }
    .mainpage__second-block__text {
      padding-top: 1.2em;
    }
    .mainpage__second-block__btn {
      padding-top: 2em;
    }
  }
  .mainpage__third-block__background {
    height: auto;
    background-color: lighten($primary, 35%);
    .mainpage__third-block {
      display: flex;
      flex-direction: column;
      color: $text;
      width: 100%;
      .mainpage__third-block__title {
        text-align: center;
        h2 {
          color: $text;
          span {
            text-transform: uppercase;
            font-family: "Gilroy-Bold";
            font-size: 30px;
            font-style: normal;
            font-weight: 400;
            color: $primary;
          }
        }
      }
      .mainpage__third-block__cards-div {
        padding-top: 4em;
        .mainpage__third-block__cards-carousel {
          // display: flex;
          // justify-content: flex-start;
          // flex-direction: row;
          // flex-wrap: nowrap;
          width: 100%;
          .mainpage__third-block__card {
            height: 350px;
            border: 2px solid $light;
            margin-right: 2em;
            padding: 0;
            box-sizing: border-box;
            .mainpage__third-block__card-img {
              height: 300px;
              background-image: url("../../src/static/images/signin.jpg");
              background-repeat: no-repeat;
              background-position: top;
              background-size: 110%;
            }
          }
        }
      }
    }
  }
  .mainpage__mentors-block {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    .mainpage__mentors-block__mentor-cards {
      margin-top: 4em;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      .mainpage__mentor-cards__mentor-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        .mainpage__mentor-cards__mentor-card__img {
          border-radius: 1px;
          width: 80%;
          height: 250px;
          margin: 0 auto;
          background-image: url("../../src/static/images/mentor.jpg");
          background-size: cover;
          background-position: center;
          background-position-y: 15%;
          filter: grayscale(100%);
        }
        &:hover {
          .mainpage__mentor-cards__mentor-card__img {
            transition: 300ms;
            transition-property: all;
            transition-duration: 300ms;
            transition-timing-function: ease;
            transition-delay: 0s;
            background-repeat: no-repeat;
            filter: grayscale(0%);
          }
          .mainpage__mentor-cards__mentor-card__name {
            color: $primary;
          }
        }
        .mainpage__mentor-cards__mentor-card__name {
          text-align: center;
          width: 80%;
          flex: none;
          margin-top: 0.5em;
        }
        .mainpage__mentor-cards__mentor-card__position {
          padding: 1em 1.5em;
        }
        .mainpage__mentor-cards__mentor-card__bio {
          margin-bottom: 1.5em;
          padding: 0 1.5em;
          text-align: left;
        }
      }
    }
    .mainpage__mentors-block__button {
      margin-top: 3em;
    }
  }
  .mainpage__steps-block__background {
    height: auto;
    background-image: url("../../src/static/images/topography.png");
    background-position-x: center;
    background-position-y: top;
    .container {
      .mainpage__steps-block__title {
        span {
          color: $primary;
          display: block;
          font-family: "Gilroy-Bold";
        }
      }
      .mainpage__steps-block__steps-wrapper {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .mainpage__steps-block__step-card {
          margin-top: 4em;
          position: relative;
          width: calc(25%);
          .mainpage__steps-block__step-card__bg {
            position: absolute;
            text-align: center;
            font-size: 180px;
            color: lighten($primary, 35%);
            font-family: "Gilroy-Bold";
            top: -13px;
            line-height: 126px;
            width: 100%;
          }
          .mainpage__steps-block__step-card__text {
            position: relative;
            z-index: 5;
            min-height: 150px;
            span {
              display: block;
              padding-bottom: 0.3em;
            }
          }
        }
        .mainpage__steps-block__next-arrow {
          width: 10%;
          margin-top: 4em;
          &.arrow__no-desctop {
            display: none;
          }
          &:hover {
            filter: drop-shadow(0 5px 4px rgba(0, 0, 0, 0.18));
            text-decoration: none;
            transform: translateY(-0.2rem);
          }
        }
      }
    }
  }
  .mainpage__reviews-block {
    padding-bottom: 2em;
    height: auto;
    .mainpage__reviews__title {
      display: block;
      
      span {
        color: $primary;
        display: block;
        font-family: "Gilroy-Bold";
      }
    }
    .mainpage__reviews-block__wrapper {
      display: flex;
      justify-content: flex-start;
      flex-direction: row;
      width: 100%;
      padding-top: 4em;
      height: auto;
      .mainpage__reviews-block__review-div {
        padding-left: 0;
        display: flex;
        justify-content: space-between;
        height: auto;
        .mainpage__reviews-block__carousel {
          width: 100%;
          height: 130%;
          display: flex;
          flex-direction: row; 
          position: relative;
          .mainpage__reviews-block__btn{
            cursor: pointer;
          }
          .mainpage__reviews-block__review-div__carousel-slides {
            box-sizing: border-box;
            width: 100%;
            height: 350px;
            overflow: hidden;
            position: relative;
            .mainpage__reviews-block__review-div__carousel-item {
              outline: none!important;
              height: 100%;
              width: 100%;
              clear: both;
              position: absolute;
              opacity: 1;
              transition: all ease 1s;
              &.opacity0 {
                opacity: 0;
              }
              .mainpage__reviews-block__review-div__carousel-item__avatar {
                border-radius: 3px;
                height: 200px;
                float: left;
              }
              .mainpage__reviews-block__review-div__carousel-item__text {
                background-color: #fff;
                height: 100%;
                padding-left: 20px;
                padding-right: 20px;
                float: right;
                p {
                  margin-bottom: 10px;
                }
                h4 {
                  margin-bottom: 10px;
                  font-weight: bold;
                }
              }
            }
          }
        }
      }
      .mainpage__reviews-block__quote-div {
        background-color: lighten($primary, 35%);
        padding: 20px 10px;
        .mainpage__reviews-block__quote-block1 {
          display: flex;
          justify-content: flex-start;
          flex-direction: column;
          align-items: center;
          text-align: center;
          span {
            margin-top: 5px;
            display: block;
            font-style: italic;
            margin-bottom: 10px;
          }
        }
        .mainpage__reviews-block__quote-block2 {
          display: flex;
          justify-content: flex-start;
          flex-direction: column;
          align-items: center;
          padding-top: 15px;
          text-align: center;
          span {
            margin-top: 5px;
            display: block;
            font-style: italic;
            margin-bottom: 10px;
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .mainpage__first-block__title-div {
    height: 700px;
  }
}

@media (max-width: 985.98px) {
  .mainpage__first-block__background {
    height: 600px;
  }
}
@media (max-width: 767px) {
  .mainpage__first-block__background {
    background-position: center;
    height: 400px;
  }
}

@media (max-width: 985.98px) and (min-width: 767px) {
  .mainpage
    .mainpage__steps-block__background
    .container
    .mainpage__steps-block__steps-wrapper
    .mainpage__steps-block__next-arrow.arrow__no-desctop {
    display: block;
  }
}
@media (max-width: 985.98px) {
  .mainpage
    .mainpage__steps-block__background
    .container
    .mainpage__steps-block__steps-wrapper
    .mainpage__steps-block__next-arrow.arrow__tablet {
    display: none;
  }
}

@media (max-width: 767px) {
  .mainpage
    .mainpage__steps-block__background
    .container
    .mainpage__steps-block__steps-wrapper
    .mainpage__steps-block__next-arrow {
    display: none;
  }
}

@media (max-width: 985.98px) {
  .mainpage__first-block__title-div {
    border-radius: 1px;
    height: auto;
    padding: 1em 2em;
    background: $text-grey;
    opacity: 0.5;
    box-sizing: border-box;
  }

}
@media (max-width: 985.98px) {
  .btn-lg.btn-white{
    padding: 0.5em 1em 0.2em 1em;
    font-size: 13px;
    background-color: $primary;
    border: 2px solid $primary;
  }
  .btn-lg.btn-white:hover{
    transition: all ease-in .5s;
    border: 2px solid $light;
    background-color: $light;
    a {
      color: $primary;
    }
  }
  .btn-lg{
    padding: 0.5em 1em 0.2em 1em;
    font-size: 13px;
  }
  
}

@media (max-width: 767px) {
  .mainpage__first-block__title-div {
    display: none;
  }
}

@media (max-width: 985.98px) {
  .mainpage .mainpage__second-block .mainpage__second-block__title {
    display: block;
  }
}
@media (max-width: 985.98px) {
  .mainpage .mainpage__second-block .mainpage__second-block__title p {
    display: block;
  }
}
@media (max-width: 985.98px) {
  .mainpage .mainpage__second-block .mainpage__second-block__title .word {
    top: 80px;
    left: 95px;
  }
}
@media (max-width: 985.98px) {
  .mainpage .mainpage__second-block .mainpage__second-block__subtitle {
    padding-top: 2.5em;
  }
}

@media (max-width: 985.98px) {
  .mainpage__reviews-block__quote-wrapper {
    display: none;
  }
}
@media (max-width: 985.98px) {
  .mainpage
    .mainpage__reviews-block
    .mainpage__reviews-block__wrapper
    .mainpage__reviews-block__review-div
    .mainpage__reviews-block__carousel
    .mainpage__reviews-block__review-div__carousel-slides {
    height: 400px;
  }
}
@media (max-width: 767px) {
  .mainpage
    .mainpage__reviews-block
    .mainpage__reviews-block__wrapper
    .mainpage__reviews-block__review-div
    .mainpage__reviews-block__carousel
    .mainpage__reviews-block__review-div__carousel-slides {
    height: 550px;
  }
}
