.mentor-account {
    display: flex;
    .mentor-account__form{
        form {
            margin-top: 2em;
            label{
                margin-top: 2em;
                display: block;
            }
            input, textarea {
                color: $text;
                border: 1px solid $text-grey;
                padding: 0.5em;
                border-radius: 3px
            }
            textarea {
                width: 40em;
                height: 15em;
            }

            #mentor-account__form__btn {
                margin-top: 1.5em;
            }
        }
    }
}
@media (max-width: 991.98px) {
    .mentor-account {
      flex-direction: column-reverse;
    }
}

@media (max-width: 767.98px) {
    .mentor-account {
        .mentor-account__form{
            form {
                textarea {
                    width: 30em;
                }
            }
        }
    }
}

@media (max-width: 767.98px) {
    .mentor-account {
        .mentor-account__form{
            form {
                textarea {
                    width: 30em;
                }
            }
        }
    }
}

@media (max-width: 425.98px) {
    .mentor-account {
        .mentor-account__form{
            form {
                textarea {
                    width: 15em;
                }
            }
        }
    }
}