.publication {
  display: flex;
  flex-wrap: wrap;
  .publication-card {
    h4 {
      padding-bottom: 0.5em;
    }
    .publication-card__img {
      width: 100%;
      height: 350px;
      margin-top: 1.5em;
      margin-bottom: 1.5em;
      background-image: url("../../src/static/images/blog-img.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 110%;
    }
    .publication-card__footer {
      text-align: right;
      .publication-card__footer__icon {
        display: inline-block;
        width: 25px;
        height: 25px;
        margin-top: 1.5em;
        background-repeat: no-repeat;
        background-size: contain;
        &#icon-edit {
          background-image: url("../../src/static/icons/edit.svg");
          margin-right: 1em;
          &:hover {
            background-image: url("../../src/static/icons/edit-primary.svg");
          }
        }
        &#icon-delete {
          background-image: url("../../src/static/icons/delete.svg");
          &:hover {
            background-image: url("../../src/static/icons/delete-primary.svg");
          }
        }
      }
    }
  }
  .publication-author-card {
    padding-top: 2em;
    padding-left: 2em;
    .publication-author-card__card-header {
      h4 {
        text-align: center;
        border-bottom: 1px solid lighten($text-grey, 50%);
        padding-bottom: 0.5em;
      }
    }
    .publication-author-card__card-body {
      .publication-author-card__card-body__author {
        padding: 1em 0;
        display: flex;
        align-items: center;
        .publication-author-card__card-body__author__avatar {
          border-radius: 50%;
          height: 3em;
          width: 3em;
          background-image: url("../../src/static/icons/icons8-user-male.svg");
          background-repeat: no-repeat;
          background-position: center;
          background-size: 70%;
          margin-right: 1em;
        }
      }
    }
  }
}

@media (max-width: 767.98px) {
  .publication {
    .publication-card {
      .publication-card__img {
        height: 200px;
      }
    }
  }
}
