<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>О проекте</title>
    <link rel="stylesheet" href="../../dist/css/style.css" />
  </head>
  <body>
    <header class="header">
      <div class="container">
        <div class="header-upper">
          <div class="header-upper-wrapper">
            <div class="header__header-upper__logo">
              <h2 class="font-subtitle">
                <a href="./index.html">Mentor.kg</a>
              </h2>
            </div>
            <ul class="header__header-upper__nav">
              <li class="header__header-upper__nav__nav-item font-link">
                <a href="#">О проекте</a>
              </li>
              <li class="header__header-upper__nav__nav-item font-link">
                <a href="./blog.html">Блог</a>
              </li>
              <li class="header__header-upper__nav__nav-item font-link">
                <a href="./mentors.html">Наши менторы</a>
              </li>
            </ul>
          </div>
          <div class="header-upper-wrapper">
            <ul class="header__header-upper__navbar__lang">
              <li
                class="header__header-upper__navbar__lang__lang-option font-subtitle"
              >
                RU
              </li>
            </ul>
            <div class="header__header-upper__navbar__btn btn btn-white">
              <a href="#">Войти</a>
            </div>
            <div class="header__header-upper__navbar__btn btn btn-primary">
              <a href="#">Регистрация</a>
            </div>
            <a href="#" class="header__header-upper__nav-burger">
              <span></span>
              <span></span>
              <span></span>
            </a>
          </div>
        </div>
      </div>
      <div id="modal-login" class="modal-login">
        <div class="modal-login__content container">
          <div class="modal-login__content__first-block">
            <h4 class="modal-login__content__title font-title-sm">
                Вход
            </h4>
            <span class="modal-login__close">&times;</span>
          </div>
          <div class="modal-login__content__second-block">
            <form action="">
              <input id="emailReg" placeholder="Почта" type="email" required>
              <input id="firstNameReg" placeholder="Пароль" type="password" required>
              <br>
              <button class="btn btn-primary" type="submit">Войти</button>
            </form>
            <a href="#" class="font-text">Забыли пароль?</a>
          </div>
        </div>
      </div>
      <div id="modal-join" class="modal-join">
        <div class="modal-join__content container">
          <div class="modal-join__content__first-block">
            <h4 class="modal-join__content__title font-title-sm">
                Регистрация
            </h4>
            <span class="modal-join__close">&times;</span>
          </div>
          <div class="modal-join__content__second-block">
            <form action="">
              <input type="text" name="" id="" placeholder="Имя" required>
              <input id="emailReg" placeholder="Почта" type="email" required>
              <input id="firstNameReg" placeholder="Пароль" type="password" required>
              <input id="firstNameReg" placeholder="Подтвердите пароль" type="password" required>
              <br>
              <button class="btn btn-primary" type="submit">Войти</button>
            </form>
            <a href="#" class="font-text">Уже есть аккаунт?</a>
          </div>
        </div>
      </div>
    </header>
    <main class="aboutpage">
      <section class="container">
        <div class="aboutpage__first-block">
          <h4 class="font-title-md">
            О
            <span>проекте</span>
          </h4>
          <div class="aboutpage__first-block__content">
            <div class="aboutpage__first-block__left-div col-md-4">
              <div class="aboutpage__first-block__img"></div>
            </div>

            <div class="aboutpage__first-block__right-div col-md-8">
              <div class="aboutpage__first-block__title"></div>
              <div class="aboutpage__first-block__text">
                <h4 class="font-text-md ">
                  Mentor.kg - это платформа, где наставники и ученики могут
                  найти друг друга и соединиться. Чтобы получить что-то в жизни,
                  бизнесе, учебе, отношениях или чем-то еще, важно получить
                  руководство от наставника. Но найти правильного наставника
                  сложно. Mentor.kg предоставляет простой способ связаться с
                  наставниками и учениками в любой категории.
                </h4>
                <p class="font-text-md ">
                  Объединяя поколения, меняем мир. Мы собираем на одной площадке
                  опытных экспертов и тех, кто только начинает осваивать новые
                  области знаний в науке и бизнесе. Наши менторы делятся своей
                  экспертизой и опытом бесплатно. Многие из наших менти – люди,
                  которые в будущем будут формировать ключевые тренды в науке и
                  бизнесе, как в Кыргызстане, так и за рубежом.
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <div class="aboutpage__quote-block">
        <section class="container">
          <h4 class="font-text-md">
            «Знание существует, чтобы его распространять»
          </h4>
          <p class="font-text-md">- Эмерсон Ральф Уолдо</p>
        </section>
      </div>
      <section class="container">
        <div class="aboutpage__mission-block">
          <h4 class="font-title-md">
            Наша
            <span>миссия</span>
          </h4>
          <div class="aboutpage__mission-block__cards-div">
            <div class="col-lg-4 col-md-6 col-sm-12">
              <div class="aboutpage__mission-block__card card">
                <div class="aboutpage__mission-block__card__img-bg">
                  <div class="aboutpage__mission-block__card__img-bg-text">
                    <img
                      src="../../src/static/icons/aim.png"
                      style="opacity: .8"
                      width="50px"
                      height="50px"
                      alt=""
                    />
                    <h4 class="font-title-sm">В чем наша цель</h4>
                  </div>
                </div>
                <div class="aboutpage__mission-block__card__text">
                  <p class="font-text-md">
                    Наша цель – обеспечить передачу знаний и опыта
                    предпринимателям и специалистам и помочь им найти
                    эффективные решения актуальных бизнес-задач, улучшить
                    показатели компании
                  </p>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-12">
              <div class="aboutpage__mission-block__card card">
                <div class="aboutpage__mission-block__card__img-bg">
                  <div class="aboutpage__mission-block__card__img-bg-text">
                    <img
                      src="../../src/static/icons/people.png"
                      style="opacity: .8"
                      width="50px"
                      height="50px"
                      alt=""
                    />
                    <h4 class="font-title-sm">Как мы к ней идем</h4>
                  </div>
                </div>
                <div class="aboutpage__mission-block__card__text">
                  <p class="font-text-md">
                    Мы собрали на нашей онлайн-платформе лучших профессионалов,
                    готовых делиться знаниями, быть наставниками и работать на
                    повышение личной продуктивности
                  </p>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-12">
              <div class="aboutpage__mission-block__card card ">
                <div class="aboutpage__mission-block__card__img-bg">
                  <div class="aboutpage__mission-block__card__img-bg-text">
                    <img
                      src="../../src/static/icons/hands.png"
                      style="opacity: .8"
                      width="50px"
                      height="50px"
                      alt=""
                    />
                    <h4 class="font-title-sm">Во что мы верим</h4>
                  </div>
                </div>
                <div class="aboutpage__mission-block__card__text">
                  <p class="font-text-md">
                    Мы верим, что наставничество и советы опытных профессионалов
                    помогут найти ответы на самые сложные вопросы, которые
                    периодически возникают у любого человека.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <footer>
      <section class="footer">
        <div class="container">
          <ul class="footer-nav">
            <li class="footer-nav-item col-lg-3 col-md-6 col-sm-12">
              <a href="#" class="font-link">Часто задаваемые вопросы</a>
            </li>
            <li class="footer-nav-item col-lg-3 col-md-6 col-sm-12">
              <a href="./agreement.html" class="font-link"
                >Пользовательское соглашение</a
              >
            </li>
            <li
              class="footer-nav-item col-lg-3 col-md-6 col-sm-12 footer-nav__contacts"
            >
              <p class="font-link">Связаться с нами</p>
              <p class="font-text-sm">+996 555 678747</p>
              <p class="font-text-sm">mentor.kg@gmail.com</p>
              <div class="footer-nav__contacts__icons">
                <a
                  class="footer-nav__contacts__icons__icon"
                  id="icon-whatsapp"
                ></a>
                <a class="footer-nav__contacts__icons__icon" id="icon-fb"></a>
                <a
                  class="footer-nav__contacts__icons__icon"
                  id="icon-instagram"
                ></a>
                <a
                  class="footer-nav__contacts__icons__icon"
                  id="icon-telegram"
                ></a>
              </div>
            </li>
            <li class="footer-nav-item col-lg-3 col-md-6 col-sm-12">
              <h2 class="font-subtitle"><a href="#">Mentor.kg</a></h2>
            </li>
          </ul>
        </div>
      </section>
    </footer>
    <script src="../scripts/modal.js"></script>
  </body>
</html>
