<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../../dist/css/style.css" />
    <title>Мои Настройки</title>
  </head>
  <body>
    <header class="header">
      <div class="container">
        <div class="header-upper">
          <div class="header-upper-wrapper">
            <div class="header__header-upper__logo">
              <h2 class="font-subtitle">
                <a href="./index.html">Mentor.kg</a>
              </h2>
            </div>
            <ul class="header__header-upper__nav">
              <li class="header__header-upper__nav__nav-item font-link">
                <a href="./about.html">О проекте</a>
              </li>
              <li class="header__header-upper__nav__nav-item font-link">
                <a href="./blog.html">Блог</a>
              </li>
              <li class="header__header-upper__nav__nav-item font-link">
                <a href="./mentors.html">Наши менторы</a>
              </li>
            </ul>
          </div>
          <div class="header-upper-wrapper">
            <ul class="header__header-upper__navbar__lang">
              <li
                class="header__header-upper__navbar__lang__lang-option font-subtitle"
              >
                RU
              </li>
            </ul>
            <div class="header__header-upper__navbar__btn btn btn-primary">
              <a href="#">Выйти</a>
            </div>
            <a href="#" class="header__header-upper__nav-burger">
              <span></span>
              <span></span>
              <span></span>
            </a>
          </div>
        </div>
      </div>
    </header>
    <main>
      <div class="background-blobs">
        <svg class="bg-svg" id="blobShape6" viewBox="0 0 500 500">
          <clipPath></clipPath>
          <path
            fill="url(#g6)"
            d="M 47.99,295.7 C 44.25,252.9 72.33,195.7 110.4,167 169.6,122.4 259,106.1 329.6,128.8 381.3,145.4 428,193 443.7,245 453.3,277 464.9,322.4 424.6,343.5 369,372.7 304.2,310.1 239.1,319 190.9,325.5 153,380 107.6,373.4 64.97,367.3 50.68,326.4 47.99,295.7 Z"
          />
          <linearGradient id="g6" x1="0%" y1="0%" x2="100%" y2="100%">
            <stop offset="0" stop-color="#eeaeca" />
            <stop offset="1" stop-color="#94bbe9" />
          </linearGradient>
        </svg>
        <section>
          <div class="container mentor-account">
            <div class="col-lg-9 col-md-12 col-sm-12 mentor-account__form">
              <h2 class="font-title">
                Редактировать публикацию
              </h2>
              <form method="post" enctype="multipart/form-data">
                <input
                  type="hidden"
                  name="csrfmiddlewaretoken"
                  value="MAeFT7C2E4XGGdDlA8tbhTvymyxMSEbMM5qKC75SHHlh01mnroIQCHLU93qBInGU"
                />

                  <label for="id_title">Заголовок</label>
                  <input
                    type="text"
                    name="title"
                    value="The most votted answer (Mike Lyons&#39;s one) does not even answer the question."
                    placeholder="Your title"
                    class="form-control"
                    maxlength="100"
                    required
                    id="id_title"
                  />

                  <label for="id_content">Текст</label>
                  <textarea
                    name="content"
                    cols="40"
                    rows="10"
                    placeholder="Your post"
                    class="form-control"
                    required
                    id="id_content"
                  >
                  This could be a very elegant solution, especially given the eternal struggle with vendorizing: bitprophet.org/blog/2012/06/07/on-vendorizing – Nathan Basanese Apr 4 &#39;16 at 6:40
                  One caution with this is you may pip install &lt;some_module&gt; without using requirements.txt but that will not update requirements.txt. An alternative might be updating a docker such that it lists all the pip install commands that are run to install dependencies. – ampersands Feb 22 &#39;18 at 23:05
                  i tried this python -m pip install -r requirements.txt when inside the activated venv enviroment. things installed smoothly but when i do pip list it does not show that packages, when I am in the active venv or even after deactivate venv. also not able to use that packages. dont know what&#39;s wrong here – Shreyan Mehta Feb 12 at 9:53</textarea
                  >

                <label for="edit-blog__img"
                  >Выбрать изобрежение публикации</label
                >
                <input
                  class="edit-blog-img"
                  type="file"
                  id="edit-blog__img"
                />
                <button type="submit" class="btn btn-primary mt-4 ">
                  Сохранить изменения
                </button>
              </form>
            </div>
          </div>
        </section>
      </div>
    </main>

    <footer>
      <section class="footer">
        <div class="container">
          <ul class="footer-nav">
            <li class="footer-nav-item col-lg-3 col-md-6 col-sm-12">
              <a href="#" class="font-link">Часто задаваемые вопросы</a>
            </li>
            <li class="footer-nav-item col-lg-3 col-md-6 col-sm-12">
              <a href="#" class="font-link">Пользовательское соглашение</a>
            </li>
            <li
              class="footer-nav-item col-lg-3 col-md-6 col-sm-12 footer-nav__contacts"
            >
              <p class="font-link">Связаться с нами</p>
              <p class="font-text-sm">+996 555 678747</p>
              <p class="font-text-sm">mentor.kg@gmail.com</p>
              <div class="footer-nav__contacts__icons">
                <a
                  class="footer-nav__contacts__icons__icon"
                  id="icon-whatsapp"
                ></a>
                <a class="footer-nav__contacts__icons__icon" id="icon-fb"></a>
                <a
                  class="footer-nav__contacts__icons__icon"
                  id="icon-instagram"
                ></a>
                <a
                  class="footer-nav__contacts__icons__icon"
                  id="icon-telegram"
                ></a>
              </div>
            </li>
            <li class="footer-nav-item col-lg-3 col-md-6 col-sm-12">
              <h2 class="font-subtitle"><a href="#">Mentor.kg</a></h2>
            </li>
          </ul>
        </div>
      </section>
    </footer>
    <script src="../scripts/edit-blog.js"></script>
  </body>
</html>
