<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../../dist/css/style.css" />
    <title>Моя лента</title>
  </head>
  <body>
    <header class="header">
      <div class="container">
        <div class="header-upper">
          <div class="header-upper-wrapper">
            <div class="header__header-upper__logo">
              <h2 class="font-subtitle">
                <a href="./index.html">Mentor.kg</a>
              </h2>
            </div>
            <ul class="header__header-upper__nav">
              <li class="header__header-upper__nav__nav-item font-link">
                <a href="./about.html">О проекте</a>
              </li>
              <li class="header__header-upper__nav__nav-item font-link">
                <a href="./blog.html">Блог</a>
              </li>
              <li class="header__header-upper__nav__nav-item font-link">
                <a href="./mentors.html">Наши менторы</a>
              </li>
            </ul>
          </div>
          <div class="header-upper-wrapper">
            <ul class="header__header-upper__navbar__lang">
              <li
                class="header__header-upper__navbar__lang__lang-option font-subtitle"
              >
                RU
              </li>
            </ul>
            <div class="header__header-upper__navbar__btn btn btn-primary">
              <a href="#">Выйти</a>
            </div>
            <a href="#" class="header__header-upper__nav-burger">
              <span></span>
              <span></span>
              <span></span>
            </a>
          </div>
        </div>
      </div>
    </header>
    <main>
      <section>
        <div class="container mentee-account">
          <div class="col-lg-9 col-md-12 col-sm-12 mentee-account__content">
            <h2 class="font-title">
              Моя Лента
            </h2>
            <div class="mentee-account__content__feed">
              <div class="mentee-account__content__feed__publication">
                <div
                  class="mentee-account__content__feed__publication__img"
                ></div>
                <div
                  class="mentee-account__content__feed__publication__content"
                >
                  <h4
                    class="font-title-sm mentee-account__content__feed__publication__content__title"
                  >
                    Лучшие бизнес-книги февраля 2019
                  </h4>
                  <p
                    class="font-text mentee-account__content__feed__publication__content__text"
                  >
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Soluta delectus pariatur iure repellat, aspernatur odio
                    reprehenderit itaque? Velit dolorum quia aliquid debitis,
                    nam aliquam accusantium id ratione tempore ipsa culpa?
                  </p>
                  <span
                    class="font-text-sm mentee-account__content__feed__publication__content__date"
                    >14 марта 2019</span
                  >
                </div>
              </div>
              <div class="mentee-account__content__feed__publication">
                <div
                  class="mentee-account__content__feed__publication__img"
                ></div>
                <div
                  class="mentee-account__content__feed__publication__content"
                >
                  <h4
                    class="font-title-sm mentee-account__content__feed__publication__content__title"
                  >
                    Лучшие бизнес-книги февраля 2019
                  </h4>
                  <p
                    class="font-text mentee-account__content__feed__publication__content__text"
                  >
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Soluta delectus pariatur iure repellat, aspernatur odio
                    reprehenderit itaque? Velit dolorum quia aliquid debitis,
                    nam aliquam accusantium id ratione tempore ipsa culpa?
                  </p>
                  <span
                    class="font-text-sm mentee-account__content__feed__publication__content__date"
                    >14 марта 2019</span
                  >
                </div>
              </div>
              <div class="mentee-account__content__feed__publication">
                <div
                  class="mentee-account__content__feed__publication__img"
                ></div>
                <div
                  class="mentee-account__content__feed__publication__content"
                >
                  <h4
                    class="font-title-sm mentee-account__content__feed__publication__content__title"
                  >
                    Лучшие бизнес-книги февраля 2019
                  </h4>
                  <p
                    class="font-text mentee-account__content__feed__publication__content__text"
                  >
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Soluta delectus pariatur iure repellat, aspernatur odio
                    reprehenderit itaque? Velit dolorum quia aliquid debitis,
                    nam aliquam accusantium id ratione tempore ipsa culpa?
                  </p>
                  <span
                    class="font-text-sm mentee-account__content__feed__publication__content__date"
                    >14 марта 2019</span
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-12 col-sm-12 mentee-account__sidebar">
            <ul class="mentee-account__sidebar__nav">
              <li
                class="font-link mentee-account__sidebar__nav__nav-item active"
                id="sidebar-feed"
              >
                <div id="sidebar-icon-feed"></div>
                <a href="#">Моя лента</a>
              </li>
              <li
                class="font-link mentee-account__sidebar__nav__nav-item"
                id="sidebar-settings"
              >
                <div id="sidebar-icon-settings"></div>
                <a href="#">Настройки аккаунта</a>
              </li>
              <li
                class="font-link mentee-account__sidebar__nav__nav-item active"
                id="sidebar-follows"
              >
                <div id="sidebar-icon-follows"></div>
                <a href="#">Мои подписки</a>
              </li>
            </ul>
          </div>
        </div>
      </section>
    </main>
    <footer>
      <section class="footer">
        <div class="container">
          <ul class="footer-nav">
            <li class="footer-nav-item col-lg-3 col-md-6 col-sm-12">
              <a href="#" class="font-link">Часто задаваемые вопросы</a>
            </li>
            <li class="footer-nav-item col-lg-3 col-md-6 col-sm-12">
              <a href="#" class="font-link">Пользовательское соглашение</a>
            </li>
            <li
              class="footer-nav-item col-lg-3 col-md-6 col-sm-12 footer-nav__contacts"
            >
              <p class="font-link">Связаться с нами</p>
              <p class="font-text-sm">+996 555 678747</p>
              <p class="font-text-sm">mentor.kg@gmail.com</p>
              <div class="footer-nav__contacts__icons">
                <a
                  class="footer-nav__contacts__icons__icon"
                  id="icon-whatsapp"
                ></a>
                <a class="footer-nav__contacts__icons__icon" id="icon-fb"></a>
                <a
                  class="footer-nav__contacts__icons__icon"
                  id="icon-instagram"
                ></a>
                <a
                  class="footer-nav__contacts__icons__icon"
                  id="icon-telegram"
                ></a>
              </div>
            </li>
            <li class="footer-nav-item col-lg-3 col-md-6 col-sm-12">
              <h2 class="font-subtitle"><a href="#">Mentor.kg</a></h2>
            </li>
          </ul>
        </div>
      </section>
    </footer>
  </body>
</html>
