<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="stylesheet" href="../../dist/css/style.css" />
  <title>Главная</title>
</head>

<body>
  <header class="header">
    <div class="container">
      <div class="header-upper">
        <div class="header-upper-wrapper">
          <div class="header__header-upper__logo">
            <h2 class="font-subtitle">
              <a href="./index.html">Mentor.kg</a>
            </h2>
  <body>
    <header class="header">
      <div class="container">
        <div class="header-upper">
          <div class="header-upper-wrapper">
            <div class="header__header-upper__logo">
              <h2 class="font-subtitle">
                <a href="./index.html">Mentor.kg</a>
              </h2>
            </div>
            <ul class="header__header-upper__nav">
              <li class="header__header-upper__nav__nav-item font-link">
                <a href="#">О проекте</a>
              </li>
              <li class="header__header-upper__nav__nav-item font-link">
                <a href="./blog.html">Блог</a>
              </li>

            </ul>
          </div>
          <ul class="header__header-upper__nav">
            <li class="header__header-upper__nav__nav-item font-link">
              <a href="#">О проекте</a>
            </li>
            <li class="header__header-upper__nav__nav-item font-link">
              <a href="./blog.html">Блог</a>
            </li>
          </ul>
        </div>
        <div class="header-upper-wrapper">
          <ul class="header__header-upper__navbar__lang">
            <li class="header__header-upper__navbar__lang__lang-option font-subtitle">
              RU
            </li>
          </ul>
          <div class="header__header-upper__navbar__btn btn btn-white">
            <a href="#">Войти</a>
          </div>
          <div class="header__header-upper__navbar__btn btn btn-primary">
            <a href="#">Регистрация</a>
          </div>
          <a href="#" class="header__header-upper__nav-burger">
            <span></span>
            <span></span>
            <span></span>
          </a>
        </div>
      </div>
    </div>
  </header>
  <main>
    <div class="background-blobs">
      <svg class="bg-svg" id="blobShape2" viewBox="0 0 500 500">
        <clipPath></clipPath>
        <path
          fill="url(#g2)"
          d="M 184,127.4 C 235.4,92.39 319.7,79.27 359.9,132.2 383.2,163 357.1,216.6 355.8,258.8 354.8,291.2 371.3,332.9 352.9,356 306.1,414.4 205.1,419.3 153.7,367.2 123.8,336.8 128.6,272.1 136.1,225.2 142.1,187.8 157,145.7 184,127.4 Z"
        />
        <linearGradient id="g2" x1="0%" y1="0%" x2="100%" y2="100%">
          <stop offset="0" stop-color="#fefefe" />
          <stop offset="1" stop-color="#452958" />
        </linearGradient>
      </svg>
      <section>
        <div class="profile-background">
          <div class="profile-avatar"></div>
        </div>
        <div class="container">
          <div class="row">
            <div class="profile-right col-lg-8">
              <h2 class="profile-name font-title">Айжан Бейшеева</h2>
              <h5 class="profile-title font-subtitle">Персональный коуч</h5>
              <h6 class="profile-email font-text">aijanbeisheeva@gmail.com</h6>
              <br>
              <div class="profile-social-links">
                <a class="profile-icons" id="profile-icon-whatsapp" style="display: inline-block"></a>
                <a class="profile-icons" id="profile-icon-fb" style="display: inline-block"></a>
                <a class="profile-icons" id="profile-icon-instagram" style="display: inline-block"></a>
                <a class="profile-icons" id="profile-icon-telegram" style="display: inline-block"></a>
              </div>
              <br>
              <h2 class="profile-bio font-title-sm ">Обо мне</h2>
              <p class="profile-bio-text font-text">
                С другой стороны постоянное информационно-пропагандистское
                обеспечение нашей деятельности требуют определения и уточнения
                направлений прогрессивного развития. Идейные соображения высшего
                порядка, а также укрепление и развитие структуры способствует
                подготовки и реализации дальнейших направлений развития. С
                другой стороны дальнейшее развитие различных форм деятельности
                обеспечивает широкому кругу (специалистов) участие в
                формировании форм развития. Разнообразный и богатый опыт рамки и
                место обучения кадров играет важную роль в формировании форм
                развития. С другой стороны дальнейшее развитие различных форм
                деятельности требуют от нас анализа новых предложений.
                <br />
                <br />
                Идейные соображения высшего порядка, а также рамки и место
                обучения кадров в значительной степени обуславливает создание
                направлений прогрессивного развития. Значимость этих проблем
                настолько очевидна, что укрепление и развитие структуры
                позволяет выполнять важные задания по разработке существенных
                финансовых и административных условий. Разнообразный и богатый
                опыт укрепление и развитие структуры позволяет оценить значение
                форм развития. Таким образом консультация с широким активом
                влечет за собой процесс внедрения и модернизации соответствующий
                ловий активизации. Таким образом рамки и место обучения кадров
                способствует подготовки и реализации форм развития.
              </p>
              <br />
              <hr class="line-color" />
              <br />
              <h2 class="profile-expectation font-title-sm">Мои ожидания</h2>
              <br />
              <p class="profile-expecation-text font-text">
                Равным образом реализация намеченных плановых заданий играет
                важную роль в формировании систем массового участия. Не следует,
                однако забывать, то постоянное информационно-пропагандистское
                обеспечение нашей деятельности требуют от нас анализа
                соответствующий условий активизации.
                <br />
                <br />
                Разнообразный и богатый опыт постоянное
                информационно-пропагандистское обеспечение нашей деятельности в
                значительной степени обуславливает создание новых предложений.
                Разнообразный и богатый опыт новая модель организационной
                деятельности требуют определения и уточнения существенных
                финансовых и административных условий. Товарищи! реализация
                намеченных плановых заданий играет важную роль в формировании
                существенных финансовых и административных условий.
              </p>
              <br />
              <hr class="line-color" />
            </div>
            <div class="profile-left col-lg-4">
              <div class="profile-ad">
                <h6 class="profile-ad-text font-subtitle">
                  Заинтересованы в этом менторе?
                </h6>
                <button class="btn btn-primary button-sm">Подписаться</button>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </main>
  <footer>
    <section class="footer">
      <div class="container">
        <ul class="footer-nav">
          <li class="footer-nav-item col-lg-3 col-md-6 col-sm-12">
            <a href="#" class="font-link">Часто задаваемые вопросы</a>
          </li>
          <li class="footer-nav-item col-lg-3 col-md-6 col-sm-12">
            <a href="#" class="font-link">Пользовательское соглашение</a>
          </li>
          <li class="footer-nav-item col-lg-3 col-md-6 col-sm-12 footer-nav__contacts">
            <p class="font-link">Связаться с нами</p>
            <p class="font-text-sm">+996 555 678747</p>
            <p class="font-text-sm">mentor.kg@gmail.com</p>
            <div class="footer-nav__contacts__icons">
              <a class="footer-nav__contacts__icons__icon" id="icon-whatsapp"></a>
              <a class="footer-nav__contacts__icons__icon" id="icon-fb"></a>
              <a class="footer-nav__contacts__icons__icon" id="icon-instagram"></a>
              <a class="footer-nav__contacts__icons__icon" id="icon-telegram"></a>
            </div>
          </li>
          <li class="footer-nav-item col-lg-3 col-md-6 col-sm-12">
            <h2 class="font-subtitle"><a href="#">Mentor.kg</a></h2>
          </li>
        </ul>
      </div>
    </section>
  </footer>
</body>

</html>