<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../../dist/css/style.css" />
    <title>Публикация</title>
  </head>
  <body>
    <header class="header">
      <div class="container">
        <div class="header-upper">
          <div class="header-upper-wrapper">
            <div class="header__header-upper__logo">
              <h2 class="font-subtitle">
                <a href="./index.html">Mentor.kg</a>
              </h2>
            </div>
            <ul class="header__header-upper__nav">
              <li class="header__header-upper__nav__nav-item font-link">
                <a href="./about.html">О проекте</a>
              </li>
              <li class="header__header-upper__nav__nav-item font-link">
                <a href="./blog.html">Блог</a>
              </li>
              <li class="header__header-upper__nav__nav-item font-link">
                <a href="./mentors.html">Наши менторы</a>
              </li>
            </ul>
          </div>
          <div class="header-upper-wrapper">
            <ul class="header__header-upper__navbar__lang">
              <li
                class="header__header-upper__navbar__lang__lang-option font-subtitle"
              >
                RU
              </li>
            </ul>
            <div class="header__header-upper__navbar__btn btn btn-white">
              <a href="#">Войти</a>
            </div>
            <div class="header__header-upper__navbar__btn btn btn-primary">
              <a href="#">Регистрация</a>
            </div>
            <a href="#" class="header__header-upper__nav-burger">
              <span></span>
              <span></span>
              <span></span>
            </a>
          </div>
        </div>
      </div>
    </header>
    <main class="main">
      <div class="background-blobs">
        <svg class="bg-svg" id="blobShape4" viewBox="0 0 500 500">
          <clipPath></clipPath>
          <path
            fill="url(#g4)"
            d="M 274.4,32.13 C 328.5,36.28 249,139.7 287.7,192.8 326.3,245.9 483.3,248.4 459,295 434.9,341.2 341.4,267.6 298,297.5 247.4,332.3 296,461.4 233.9,467.8 177.2,473.8 214.2,326.3 176,268.3 137.8,210.5 24.39,242.4 39.89,189.3 54.21,140.1 142,158.9 184.6,129.2 221.1,103.9 229.3,28.68 274.4,32.13 Z"
          />
          <linearGradient id="g4" x1="0%" y1="0%" x2="100%" y2="100%">
            <stop offset="0" stop-color="#fa7166" />
            <stop offset="1" stop-color="#fd964b" />
          </linearGradient>
        </svg>
        <section>
          <div class="container publication">
            <div class="col-sm-12 col-lg-8 col-md-8">
              <div class="publication-card">
                <h4 class="font-title">
                  Как развитие технологий изменит культуру сообществ и компаний
                </h4>
                <p class="font-text-sm">12 марта 2019</p>
                <div class="publication-card__img">
                  <img src="../../src/static/images/blog-img.jpg" alt="">
                </div>
                <p class="font-text">
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                  Voluptate architecto, similique ratione quaerat eveniet ipsum
                  impedit. Ducimus labore ipsam in velit, facilis repudiandae,
                  ipsum maxime harum officiis eius necessitatibus natus quidem
                  sunt, nemo quod excepturi voluptatem ab! Iste voluptas
                  dignissimos, placeat, repellendus asperiores ab quas
                  repudiandae vitae saepe ut voluptatum optio. Quos incidunt
                  consequatur quis omnis at dolorum fugiat, tempora distinctio
                  minima officia, vitae nobis, explicabo nihil quam laborum quae
                  magnam voluptatibus! Laboriosam voluptate qui tempore dicta
                  consequuntur similique assumenda veniam porro! Praesentium,
                  eligendi accusantium. Minima itaque sunt incidunt amet, optio
                  reprehenderit mollitia ab, quos excepturi iure, illum quis
                  nisi?
                </p>
                <div class="publication-card__footer">
                  <a href="#">
                    <div
                      class="publication-card__footer__icon"
                      id="icon-edit"
                    ></div>
                  </a>
                  <a href="#">
                    <div
                      class="publication-card__footer__icon"
                      id="icon-delete"
                    ></div>
                  </a>
                </div>
              </div>
            </div>
            <div class="publication-author-card col-sm-12 col-lg-4 col-md-4">
              <div class="publication-author-card__card-header">
                <h4 class="font-title-sm">Автор публикации</h4>
              </div>
              <div class="publication-author-card__card-body">
                <div class="publication-author-card__card-body__author">
                  <div
                    class="publication-author-card__card-body__author__avatar"
                  ></div>
                  <div class="publication-author-card__card-body__author__name">
                    <h5 class="font-text"><a href="#">Ирина Кибина</a></h5>
                    <p class="font-text-sm">Коуч, ментор, спикер</p>
                  </div>
                </div>
                <p
                  class="publication-author-card__card-body__card-body__content font-text"
                >
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit. At
                  odio praesentium harum ducimus quis porro. Soluta quia odio
                  tempore nisi reiciendis facilis expedita, consectetur nam
                  voluptas ab reprehenderit ad recusandae!
                </p>
              </div>
            </div>
          </div>
        </section>
      </div>
    </main>
    <footer>
      <section class="footer">
        <div class="container">
          <ul class="footer-nav">
            <li class="footer-nav-item col-lg-3 col-md-6 col-sm-12">
              <a href="#" class="font-link">Часто задаваемые вопросы</a>
            </li>
            <li class="footer-nav-item col-lg-3 col-md-6 col-sm-12">
              <a href="#" class="font-link">Пользовательское соглашение</a>
            </li>
            <li
              class="footer-nav-item col-lg-3 col-md-6 col-sm-12 footer-nav__contacts"
            >
              <p class="font-link">Связаться с нами</p>
              <p class="font-text-sm">+996 555 678747</p>
              <p class="font-text-sm">mentor.kg@gmail.com</p>
              <div class="footer-nav__contacts__icons">
                <a
                  class="footer-nav__contacts__icons__icon"
                  id="icon-whatsapp"
                ></a>
                <a class="footer-nav__contacts__icons__icon" id="icon-fb"></a>
                <a
                  class="footer-nav__contacts__icons__icon"
                  id="icon-instagram"
                ></a>
                <a
                  class="footer-nav__contacts__icons__icon"
                  id="icon-telegram"
                ></a>
              </div>
            </li>
            <li class="footer-nav-item col-lg-3 col-md-6 col-sm-12">
              <h2 class="font-subtitle"><a href="#">Mentor.kg</a></h2>
            </li>
          </ul>
        </div>
      </section>
    </footer>
    <script src="../scripts/totopbtn.js"></script>
  </body>
</html>
